html, body {
    margin: 0 auto;
    padding: 0;
    text-align: center;  
    font-weight: 300;
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #EDEDED;
}

img{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}

/*============
==Typography==
==============*/

section p{
    margin-bottom: .6em;
}

.user-info p{
    padding: 0;
    margin: 0;
}

strong{
    font-weight: 600;
}

.d-block{
    display: block;
}

.user-info{
    margin: .6em 0 1.2em 0;
}

.post-content{
    margin-bottom: 1.2em;
}


/*============
====Layout====
==============*/

header, section{
    background: #fff;
}

header{
    padding: .5em 2em;
}

section{
    padding: 2em;
}

.d-flex{
    display: flex;
}

.avatar, .logo{
    padding: 0;
}

header.d-flex{
    align-items: center;
    justify-content: space-between;
}

section{
    text-align: left;
    margin: .25em 0 .7em 0;
}


section.d-flex{
    flex-direction: column;
    justify-content: center;
}

.user-info.d-flex{
    align-items: center;
}


.logo img{
    width: 11em;
}

.avatar img, .user-info img{
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

.user-info img{
    margin-right: 1em;
}

@media (min-width:701px) and (max-width:900px){
    .container{
        width: 70%;
    }
}

@media (min-width:901px) and (max-width:1100px){
    .container{
        width: 50%;
    }
}

@media (min-width:1101px){
    .container{
        width: 40%;
    }
}

/*============
====Action====
==============*/

.like-btn{
    background: url("icon-heart.svg");
}

.comment-btn{
    background: url("icon-comment.svg");
}

.dm-btn{
    background: url("icon-dm.svg");
}

.general{
    background-color: #fff;
    background-size: cover;
    border: 0;
    padding: 0;
    width: 1.5em;
    height: 1.5em;
    border-radius: 2em;
    cursor: pointer;
}


.like-btn:hover{
    background-color: #e48c8c;
}

.comment-btn:hover{
    background-color: #e4c88c;
}

.dm-btn:hover{
    background-color: #73b1ea;
}

.like-btn-active{
    background-color: #e48c8c;
}